$--color-primary: #409EFF !default;
$--color-success: #67C23A !default;
$--color-warning: #E6A23C !default;
$--color-danger: #F56C6C !default;
$--color-info: #909399 !default;

$--color-disabled-primary:  #a0cfff !default;
$--color-disabled-success:  #b3e19d !default;
$--color-disabled-warning:  #f3d19e !default;
$--color-disabled-danger:  #fab6b6 !default;
$--color-disabled-info:  #c8c9cc !default;